@page
@model PrivacyModel
@{
    ViewData["Title"] = "Contact information";
}
<h1>@ViewData["Title"]</h1>

<p>Here you can find my contact information.</p>
<p>Email: olivermelin62@gmail.com</p>
<p>Telefonnummer: 0733692134</p>
