@page
@model PrivacyModel
@{
    ViewData["Title"] = "Contact information";
}

<div class="contact-info">

    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
        <h5>Here you can find my contact information.</h5>
        
        <p>Email: olivermelin62@gmail.com</p>
        <p>Telefonnummer: 0733692134</p>
    </div>

</div>

