@page
@model HomeModel
@{
    ViewData["Title"] = "Welcome to Oliver Melins website";
}

    <div class="homepage" >
        <div class="text-center">

            <h1>@ViewData["Title"]</h1>
            <div class="text-left">
                <p>
                    Hi and welcome to my webpage! I am recent graduated student from Örebro university.
                    I studied computer science and this website will show what courses I studied and what I learned and much more.
                </p>

            </div>

        </div>

        <div class="reroute">
            <button class="button" onclick="myFunction()">Contact</button>
            <button class="button">Button</button>
        </div>
    </div>


<div class=""></div>