@page
@using WebApplication.Components
@model IndexModel
@{
    ViewData["Title"] = "Courses";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="text-center">
    <h1 class="display-4">Courses</h1>
    <p> Welcome! Below is the courses that i've studied at Örebro university! Here you can see what courses and what I did in that specific course and so on.  </p>

    <form asp-action="Index" class="form-horizontal">
        <div class="form-group">
            <input asp-action="Id" class="form-control"/>
            <button type="submit">Search</button>
        </div>
    </form>

    <!-- The form -->
    <form asp-action="Courses">
        <input type="text" id="txtCourse" value="courses" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
        <br />
</div>

@(await Html.RenderComponentAsync<CoursesList>(RenderMode.ServerPrerendered))


<script src="_framework/blazor.server.js"></script>

