@page
@using WebApplication.Components
@model SideProjectsModel
@{
    ViewData["Title"] = "SideProjects";
}

<h1>@ViewData["Title"]</h1>


@(await Html.RenderComponentAsync<ProjectsList>(RenderMode.ServerPrerendered))
<script src="_framework/blazor.server.js"></script>