@page
@using WebApplication.Components
@model SideProjectsModel
@{
    ViewData["Title"] = "SideProjects";
}

<h1 style = "text-align: center">@ViewData["Title"]</h1>


@(await Html.RenderComponentAsync<ProjectsList>(RenderMode.ServerPrerendered))